<html>
	<head>
		<title>New Account</title>
		<link rel="stylesheet" href="../static/signup.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<span class='h-time'>
					<h6>12:00AM</h6>
				</span>
				<span class='h-left'>
					<h1>Make an account</h1>
				</span>
			</div>
			<div class="form-wrapper">
				<form action="">
					<label>Userhandle</label>
					<input type="text" name="user-handle">
					<label>Password</label>
					<input type="password" name="password">
				</form>
			</div>
		</div>
	</body>
</html>